extend layout

block main_content
	#search_results
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100

		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
		div(class='item')
			div(class='product_images')
				img(src='/img/product.jpg')
			div(class='product_title')
				span D1100 Nikon
			div(class='product_address')
				span Đà Nẵng, Việt Nam
			div(class='product_cost')
				span 10.000.000
			div(class='product_bricks')
				span 100
