!!!5
html
	head
		title #{title}
		link(rel='stylesheet', href="/css/style.css")
	body
		#container
			#header
				div
					#navbar
						ul(class='left')
								li
									a(href='', class='first') Home
								li
									a(href='') Search
								li
									a(href='') Post
								li
									a(href='') Help

						ul(class='right')
							li
								a(href='') Register
							li(class='last')
								a(href='') Login
			#content
				div
					#top_content
						img(class='logo', src='/img/logo.png')
						
						#search_form
							form 
								input(type='text', class='txt_keyword')
								input(type='submit', class='btn_search')

					#main_content
						this is content
			#footer
				div
					This is footer