!!!5
html
	head
		title #{title}
		link(rel='stylesheet', href="/css/bootstrap.css")
		link(rel='stylesheet', href="/css/style.css")
	body
		header
			#wrapper
				#navigation
					ul
						li
							a(href='#') Search
						li
							a(href='#') Posting
						li
							a(href='#') Bricking
						li
							a(href='#') Help
				#user
					span
						a(href='#') Register
					span  / 
					span
						a(href='#') Login
		content
			#content_top

				#logo
					img(src='/img/logo.png', alt='Cload')
			
				#search_box
					form(method='post')
						#search_keyword
							input(type='text', name='keyword')
						#search_submit
							input(type='submit', value='Search', class='btn btn-success')

			block main_content
				
		footer
			p &copy Copyright by Cload - 2013
