!!!5
html
	head
		title Login - The world marketplace
		link(rel='stylesheet', href="/css/login.css")
		meta(http-equiv='Content-Type', content='type=text/html; charset=utf-8')
		meta(name='keywords', content='ad, adversiting, anhmv, quang cao, rao vat, nhanh nhat')
		script(src='/js/jquery-1.10.1.js')
		script(src='/js/main.js')
	body
		#login_form
			form(method='POST')
				#title
					p Login to Cload
				#form
					ul
						li
							input(type='text', placeholder='Username')
						li
							input(type='password', placeholder='Password')
					
				#action
					.button
						input(type='Submit', value='Login')
					.text
						a(href='#') Forgot your password
						<br/>
						a(href='#') Register

