!!!5
html
	head
		title Register - The world marketplace
		link(rel='stylesheet', href="/css/login.css")
		meta(http-equiv='Content-Type', content='type=text/html; charset=utf-8')
		meta(name='keywords', content='ad, adversiting, anhmv, quang cao, rao vat, nhanh nhat')
		script(src='/js/jquery-1.10.1.js')
		script(src='/js/main.js')
	body
		#login_form
			form(method='POST')
				#title
					p Create your account
				#form
					ul
						li
							input(type='text', placeholder='Username')
						li
							input(type='password', placeholder='Password')
						li
							input(type='password', placeholder='Confirm password')
						li
							input(type='email', placeholder='Email')
						li
							p By creating an account, I accept Cload's Privacy Policy and Terms of Service.
					
				#action
					.button
						input(type='Submit', value='Register')

