*
	padding 0px
	margin 0px


body
	height 100%
	min-width 800px

header
	font-weight bold
		
	#wrapper
		width 100%
		background-color #373737
		position fixed
		height 40px

		a
			color #fff
			text-decoration none
		a:hover
			color #acde84

		#navigation
			position absolute
			left 10px
			top 10px
	
			ul
				display inline
				list-style-type none	
	
				li
					float left
					padding-right 30px
					
		#user
			position absolute
			right 10px
			top 10px

content
	
	#content_top
		height 80px
		border-bottom 1px solid #eee
		display inline-block
		width 100%
		
		#logo
			float left
			width 130px
			padding-left 10px
			padding-top 25px
		#search_box
			float left	
			display inline
			width 100%
			max-width 550px
			padding-top 25px
			#search_keyword
				width 100%
				float left
				max-width 400px
				input[type='text']
					border 1px solid #eee
					height 25px
					width: 100%
			
			#search_submit
				width 120px
				float left
				margin-left 20px
				input[type='submit']
					height 35px
					width 100px

		#last_words
			width 100%
			left 750px
			top 1px
			#last_words_title
				top 1px
			#last_words_body
				
				ul
					display inline-block
					list-style-type none

	#search_results
		position relative
		width 100%
		margin-left 10px
		margin-right 10px
		font-size 11px

		.item
			width 230px
			height 300px
			border 1px solid #dcdcdc
			padding 5px 5px
			float left
			margin-right 26px
			margin-bottom 20px
			.product_images
				img
					width 220px
					height 240px

			.product_title
				padding-top 5px
				font-size 13px
				font-weight bold

			.product_cost
				background-image url('../img/cost.png')
				padding-left 20px
				float left

			.product_bricks
				float right

footer
	width 100%
	height 25x
	position fixed
	bottom 0px
	display block
	border-top 1px solid #eee

	p
		padding-top 7px
		float right
		padding-right 10px