*
	padding 0px
	margin 0px


body
	height 100%

header
	font-weight bold
		
	#wrapper
		width 100%
		background-color #373737
		position relative
		height 40px

		a
			color #fff
			text-decoration none
		a:hover
			color #acde84

		#navigation
			position absolute
			left 10px
			top 10px
	
			ul
				display inline
				list-style-type none	
	
				li
					float left
					padding-right 30px
					
		#user
			position absolute
			right 10px
			top 10px

footer
	width 100%
	position absolute
	bottom 0px
	border-top 1px solid #eee

	p
		padding-top 7px
		float right
		padding-right 10px
