* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100%;
  min-width: 800px;
  min-height: 600px;
}
header {
  font-weight: bold;
}
header #wrapper {
  width: 100%;
  background-color: #373737;
  position: relative;
  height: 40px;
}
header #wrapper a {
  color: #fff;
  text-decoration: none;
}
header #wrapper a:hover {
  color: #acde84;
}
header #wrapper #navigation {
  position: absolute;
  left: 10px;
  top: 10px;
}
header #wrapper #navigation ul {
  display: inline;
  list-style-type: none;
}
header #wrapper #navigation ul li {
  float: left;
  padding-right: 30px;
}
header #wrapper #user {
  position: absolute;
  right: 10px;
  top: 10px;
}
content #content_top {
  height: 80px;
  border-bottom: 1px solid #eee;
  display: inline-block;
  width: 100%;
}
content #content_top #logo {
  float: left;
  width: 130px;
  padding-left: 10px;
  padding-top: 25px;
}
content #content_top #search_box {
  float: left;
  display: inline;
  width: 100%;
  max-width: 550px;
  padding-top: 25px;
}
content #content_top #search_box #search_keyword {
  width: 100%;
  float: left;
  max-width: 400px;
}
content #content_top #search_box #search_keyword input[type='text'] {
  border: 1px solid #eee;
  height: 25px;
  width: 100%;
}
content #content_top #search_box #search_submit {
  width: 120px;
  float: left;
  margin-left: 20px;
}
content #content_top #search_box #search_submit input[type='submit'] {
  height: 35px;
  width: 100px;
}
content #content_top #last_words {
  width: 100%;
  left: 750px;
  top: 1px;
}
content #content_top #last_words #last_words_title {
  top: 1px;
}
content #content_top #last_words #last_words_body ul {
  display: inline-block;
  list-style-type: none;
}
content #main_content {
  height: 100%;
  min-height: 500px;
}
footer {
  width: 100%;
  height: 25x;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #eee;
}
footer p {
  padding-top: 7px;
  float: right;
  padding-right: 10px;
}
